<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Agenda Home</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCby4jIW8ItkYOFcz2DbdN_4F1_ei17s8"></script>
	<script type="text/javascript">
		function volverInicio() {

			var jsfCommandLink = document.getElementById("botonInicio:link");
			jsfCommandLink.click();

		}

		function mostrarMapa() {
			var geocoder = new google.maps.Geocoder();

			var listaDirecciones = "#{agendaBean.listaDireccionesEventos}";

			var stringDirecciones = listaDirecciones.substring(1,
					listaDirecciones.length - 1);

			var direcciones = stringDirecciones.split(",")

			var mapa = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : 36.7183391,
					lng : -4.51930
				},
				zoom : 11
			});

			geocoder
					.geocode(
							{
								'address' : 'Calle Larios'
							},
							function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									mapa
											.setCenter(results[0].geometry.location);
								} else {
									alert('Geocode was not successful for the following reason: '
											+ status);
								}
							});
			var i = direcciones.length;
			while (i--) {
				geocoder
						.geocode(
								{
									'address' : direcciones[i]
								},
								function(results, status) {
									if (status === google.maps.GeocoderStatus.OK) {
										var marker = new google.maps.Marker(
												{
													map : mapa,
													position : results[0].geometry.location
												});
										mapa
												.setCenter(results[0].geometry.location);
									} else {
										alert('Geocode was not successful for the following reason: '
												+ status);
									}
								});
			}
		}
		window.onload = mostrarMapa;
	</script>
</h:head>
<h:body>

	<h:form id="botonInicio">
		<h:commandLink id="link" style="display: none"
			action="#{agendaBean.volverAgendaInicio()}" value="click" />
	</h:form>

	<b:container>
		<b:row>
			<b:column>
				<b:navBar brand="AppSur" onclick="volverInicio()">
					<b:navbarLinks pull="right" style="padding-right: 20px">
						<h:form rendered="#{!agendaBean.estaConectado()}">
							<a href="#{agendaBean.loginUrl}" class="btn btn-default">Iniciar
								Sesion</a>
							<h:outputText value="#{agendaBean.mensajeError}"
								style="color: red" />
						</h:form>
						<b:form>
							<b:commandButton value="Crear cuenta"
								action="#{agendaBean.crearCuenta()}"
								rendered="#{!agendaBean.estaConectado()}" />
						</b:form>
						<h:form>
							<b:commandButton value="Mi perfil"
								action="#{agendaBean.irMiPerfil()}"
								rendered="#{agendaBean.estaConectado()}" />
						</h:form>
						<h:form rendered="#{agendaBean.estaConectado()}">
							<a href="#{agendaBean.logoutUrl}" class="btn btn-default">Cerrar
								Sesion</a>
							<h:outputText value="#{agendaBean.mensajeError}"
								style="color: red" />
						</h:form>
					</b:navbarLinks>
				</b:navBar>
			</b:column>
		</b:row>
		<b:row>
			<b:column span="6" style="padding-left: 20px">
				<b:row>
					<b:column>
						<div>
							<h:form>
								<h:panelGroup id="selectInputPanel">
									<h:inputText id="inputFiltro" style="float: right"
										value="#{agendaBean.precioMax}" size="3"
										rendered="#{agendaBean.estaConectadoFiltrado()}"
										validatorMessage="El valor debe estar entre 0.0 y 5000.0">
										<f:validateDoubleRange minimum="0.0" maximum="5000.0"
											for="inputFiltro" />
									</h:inputText>
								</h:panelGroup>
								<h:commandButton style="float: right" value="Filtrar"
									action="#{agendaBean.filtrar()}"
									rendered="#{agendaBean.estaConectado()}" />

								<h:selectOneListbox id="selecFiltr" style="float: right"
									value="#{agendaBean.filtro}" size="1"
									rendered="#{agendaBean.estaConectado()}">
									<f:selectItem itemValue=" " itemLabel="Defecto" />
									<f:selectItem itemValue="tag" itemLabel="TAG" />
									<f:selectItem itemValue="precio" itemLabel="Precio" />
									<f:ajax render="selectInputPanel" />
								</h:selectOneListbox>

								<h:message id="m1" for="inputFiltro"
									style="color:red; float: right" />

							</h:form>
							<h:form>
								<b:dataTable language="es" page-length="5" page-length-menu="5,10,20"
									id="table" value="#{agendaBean.listaEventos}" var="evento"
									border="1">
									<f:facet name="header">
										<tr>
											<th colspan="1" rowspan="2">Titulo</th>
											<th colspan="1" rowspan="2">Precio</th>
											<th colspan="2">Fecha</th>
										</tr>
										<tr>
											<th>Inicio</th>
											<th>Fin</th>
										</tr>
									</f:facet>
									<h:column>
										<h:commandLink value="#{evento.titulo}"
											action="#{verEventoBean.irVerEvento()}">
											<f:param name="title" value="#{evento.titulo}" />
										</h:commandLink>
									</h:column>
									<b:column>
										<h:outputLabel value="#{evento.precio}€" />
									</b:column>
									<b:column>
										<b:datepicker disabled="true" mode="popup"
											value="#{evento.fechaInicio}" />
									</b:column>
									<b:column>
										<b:datepicker disabled="true" mode="popup"
											value="#{evento.fechaFin}" />
									</b:column>
								</b:dataTable>
							</h:form>
						</div>
					</b:column>
				</b:row>
				<br></br>
				
				
				<b:row>

					<b:column>
						<h:form>
							<b:commandButton value="Crear evento"
								action="#{agendaBean.irCrearEvento()}"
								rendered="#{agendaBean.estaConectado()}" />
						</h:form>
					</b:column>
					<b:column>
						<h:form>
							<b:commandButton value="Ver eventos no validados"
								action="#{agendaBean.irEventosNoValidados()}"
								rendered="#{agendaBean.esPeriodista()}" />
						</h:form>
					</b:column>
				</b:row>
			</b:column>
			<b:column span="2">
				<div id="map" style="width: 500px; height: 350px; border: solid;" />
			</b:column>
		</b:row>
	</b:container>
</h:body>
</html>

