<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Crear Evento</title>
</h:head>
<h:body>

	<b:container fluid="true">
		<div align="left">
			<h:form>
				<b:row>
					<b:column>
						<b:label severity="info" value="Titulo: " />
					</b:column>
					<b:column>
						<b:inputText col-xs="2" value="#{crearEventoBean.titulo}"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Descripción:" />
					</b:column>
					<b:column>
						<b:inputText col-xs="2" value="#{crearEventoBean.descripcion}"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Precio: " />
					</b:column>
					<b:column>
						<b:inputText col-xs="2" value="#{crearEventoBean.precio}"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Tags(separar por ;): " />
					</b:column>
					<b:column>
						<b:inputText col-xs="2" value="#{crearEventoBean.preferencias}"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Fecha inicio: " />
					</b:column>
					<b:column>
						<b:datepicker required="true" requiredMessage="Campo obligatorio"
						 col-xs="2" value="#{crearEventoBean.fechaInicio}"></b:datepicker>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Fecha fin: " />
					</b:column>
					<b:column>
						<b:datepicker required="true" requiredMessage="Campo obligatorio"
							col-xs="2" value="#{crearEventoBean.fechaFin}"></b:datepicker>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Direccion: " />
					</b:column>
					<b:column>
						<b:inputText col-xs="2" value="#{crearEventoBean.direccion}"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>


				<b:commandButton class="btn" value="Guardar nuevo evento"
					action="#{crearEventoBean.doCrear()}" />
			</h:form>
		</div>
	</b:container>
	<br></br>
	<div align="center">
		<h:form>
			<b:commandButton look="info" class="btn" value="Volver a agenda"
				action="agendaHome" />
		</h:form>
	</div>
</h:body>
</html>

