<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Crear Usuario</title>
</h:head>
<h:body>


	<b:container fluid="true">
		<div align="left">
			<h:form>
				<b:row>
					<b:column>
						<b:label severity="info" value="Email" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{crearUsuarioBean.email}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Nombre:" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{crearUsuarioBean.nombre}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Apellidos" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{crearUsuarioBean.apellidos}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Tags(separados por ;):" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{crearUsuarioBean.tag}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Direccion:" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{crearUsuarioBean.direccion}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>

				<b:commandButton value="Crear usuario"
					action="#{crearUsuarioBean.crearUsuario()}" />
				<h:outputLabel value="#{crearUsuarioBean.mensajeError}" />
				<br />
			</h:form>
		</div>
	</b:container>
	<div align="center">
		<h:form>
			<b:commandButton look="info" class="btn" value="Volver a agenda"
				action="agendaHome" />
		</h:form>
	</div>
</h:body>
</html>