<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<title>Editar Evento</title>
	<script type="text/javascript">
		function volverInicio() {

			var jsfCommandLink = document.getElementById("botonInicio:link");
			jsfCommandLink.click();
		}
	</script>
</h:head>
<h:body>

	<h:form id="botonInicio">
		<h:commandLink id="link" style="display: none"
			action="#{editarEventoBean.volverAgendaInicio()}" value="click" />
	</h:form>
	<b:container fluid="true">
		<b:row>
			<b:row>
				<b:column>
					<b:navBar brand="AppSur" onclick="volverInicio()">
						<b:navbarLinks pull="right" style="padding-right: 20px">
						</b:navbarLinks>
					</b:navBar>
				</b:column>
			</b:row>

			<div align="left">
				<h:form>
					<b:row>
						<b:column>
							<b:label severity="info" value="Titulo: " />
						</b:column>
						<b:column>
							<b:inputText col-xs="2" value="#{editarEventoBean.titulo}"
								requiredMessage="Campo obligatorio" />
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Descripción:" />
						</b:column>
						<b:column>
							<b:inputText col-xs="2" value="#{editarEventoBean.descripcion}"
								requiredMessage="Campo obligatorio" />
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Precio: " />
						</b:column>
						<b:column>
							<b:inputText col-xs="2" value="#{editarEventoBean.precio}"
								requiredMessage="Campo obligatorio" />
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Tags(separar por ;): " />
						</b:column>
						<b:column>
							<b:inputText col-xs="2" value="#{editarEventoBean.tags}"
								requiredMessage="Campo obligatorio" />
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Fecha inicio: " />
						</b:column>
						<b:column>
							<b:datepicker required="true" requiredMessage="Campo obligatorio"
								col-xs="2" value="#{editarEventoBean.fechaInicio}"></b:datepicker>
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Fecha fin: " />
						</b:column>
						<b:column>
							<b:datepicker required="true" requiredMessage="Campo obligatorio"
								col-xs="2" value="#{editarEventoBean.fechaFin}"></b:datepicker>
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Direccion: " />
						</b:column>
						<b:column>
							<b:inputText col-xs="2" value="#{editarEventoBean.direccion}"
								requiredMessage="Campo obligatorio" />
						</b:column>
					</b:row>


					<b:commandButton class="btn" value="Guardar nuevo evento"
						action="#{editarEventoBean.doEditar()}" />
				</h:form>
			</div>
		</b:row>

		<h:form>
			<h:commandButton class="btn" value="Volver a agenda"
				action="#{agendaBean.volverAgendaInicio()}" />
		</h:form>
	</b:container>
</h:body>
</html>