<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Editar Usuario</title>
</h:head>
<h:body>
	<b:container fluid="true">
		<div align="left">
			<h:form>
				<b:row>
					<b:column>
						<b:label severity="info" value="Nombre:" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3"
							value="#{editarUsuarioBean.usuario.nombre}" required="true"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Apellidos" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3"
							value="#{editarUsuarioBean.usuario.apellidos}" required="true"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Dirección:" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3"
							value="#{editarUsuarioBean.usuario.direccion}" required="true"
							requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:label severity="info" value="Tags(separados por ;):" />
					</b:column>
					<b:column>
						<b:inputText col-xs="3" value="#{editarUsuarioBean.usuario.tag}"
							required="true" requiredMessage="Campo obligatorio" />
					</b:column>
				</b:row>

				<b:commandButton value="Guardar cambios"
					action="#{editarUsuarioBean.editarUsuario()}" />
			</h:form>
		</div>
	</b:container>
	<div align="center">
		<h:form>
			<b:commandButton class="btn" look="info" value="Volver a mi perfil"
				action="verMiPerfil" />
		</h:form>
	</div>
</h:body>
</html>