<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pruebas Oauth</title>
        <meta name="google-signin-scope" content="profile"/>
        <meta name="google-signin-client_id" content="1028908809809-r7hp5s173msft5prs2v56qav9hac37g7.apps.googleusercontent.com"/> 
        <script src="https://apis.google.com/js/api.js" />
    </h:head>
    <h:body>      
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script type="text/javascript">
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

                var correoUsuario = profile.getEmail();

                return correoUsuario;
            }
        </script>     
        <h:form>
            <h:form>
                <h:commandButton id="signin-button" onclick="handleSignInClick()" value="Iniciar Sesión">
                 <p:remoteCommand name="cambiarCorreo" actionListener="#{beanPruebas.cambiarCorreo()}"/>
                </h:commandButton>
                <h:outputText value="#{beanPruebas.correoUsuario}"/>
            </h:form>        </h:form>
    </h:body>  
</html>