<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Geocoding service</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8"/>  
         <script
            type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyBfxZ9usKR5SLYWMi-7Av_trVHG3tvf5q8"
        />
        <script type="text/javascript">
            function initMap() {
                var options = {
                    zoom: 16,
                    center: {lat: -34.397, lng: 150.644}
                };                
                var map = new google.maps.Map(document.getElementById('map'), options);
            }            
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>  
    </h:head>
   
    <h:body onload="initMap()">
        <div id="floating-panel">
            <input id="address" type="textbox" value="Sydney, NSW"/>
            <input id="submit" type="button" value="Geocode"/>
        </div>
        <div id="map" style="width: 640px; height: 480px;"></div>
    </h:body>
</html>