<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pruebas Oauth</title>
    </h:head>
    <h:body>      
        <script type="text/javascript">

            var correoUsuario;

            function handleClientLoad() {
                // Loads the client library and the auth2 library together for efficiency.
                // Loading the auth2 library is optional here since `gapi.client.init` function will load
                // it if not already loaded. Loading it upfront can save one network request.
                gapi.load('client:auth2', initClient);
            }

            function initClient() {
                // Initialize the client with API key and People API, and initialize OAuth with an
                // OAuth 2.0 client ID and scopes (space delimited string) to request access.
                gapi.client.init({
                    apiKey: 'AIzaSyBfxZ9usKR5SLYWMi-7Av_trVHG3tvf5q8',
                    discoveryDocs: ["https://people.googleapis.com/$discovery/rest?version=v1"],
                    clientId: '1093772845225-l5i6s4jf5tusf00sqg2ocval5tjvnk1n.apps.googleusercontent.com',
                    scope: 'profile'
                }).then(function () {
                    // Listen for sign-in state changes.
                    gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                    // Handle the initial sign-in state.
                    updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                });
            }

            function updateSigninStatus(isSignedIn) {
                // When signin status changes, this function is called.
                // If the signin status is changed to signedIn, we make an API call.
                if (isSignedIn) {
                    makeApiCall();
                }
            }

            function handleSignInClick(event) {
                // Ideally the button should only show up after gapi.client.init finishes, so that this
                // handler won't be called before OAuth is initialized.
                gapi.auth2.getAuthInstance().signIn();
            }

            function handleSignOutClick(event) {
                gapi.auth2.getAuthInstance().signOut();
            }

            function makeApiCall() {
                // Make an API call to the People API, and print the user's given name.
                gapi.client.people.people.get({
                    'resourceName': 'people/me',
                    'requestMask.includeField': 'person.emailAddresses'
                }).then(function (response) {
                    console.log(response);
                    correoUsuario = response.result.emailAddresses[0].value;
                    editCorreo();
                }, function (reason) {
                    console.log('Error: ' + reason.result.error.message);
                });
            }
            
            function editCorreo() {
                cambiarCorreo([{name: "email", value: correoUsuario}]);
            }
        </script>
        <script async="defer" src="https://apis.google.com/js/api.js"
                onload="this.onload = handleClientLoad()">
        </script>
        <h:form>
            <p:remoteCommand name="cambiarCorreo" actionListener="#{beanPruebas.cambiarCorreo()}"/>
            <h:commandButton id="signin-button" onclick="handleSignInClick()" value="Iniciar Sesión"/>
            <h:outputText value="#{beanPruebas.correoUsuario}"/>
        </h:form>
        
    </h:body>  
</html>