<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test Mapas</title>
        <style>
            #map {
                height: 400px;
                width: 400px;
            }
        </style>       
    </h:head>
    <h:body>
        <script>
            var coordenadas = {lat: -34.300, lng: 120};
            var direccionEvento;
            var geocoder;
            var latitudEvento;
            var longitudEvento;
            function showMap() {

                geocoder = new google.maps.Geocoder();
                direccionEvento = document.getElementById("direccionEvento").value;

                if (direccionEvento.length > 0) {
                    geocoder.geocode({"address": direccionEvento}, function (results, status) {
                        if (status == "OK") {

                            latitudEvento = results[0].geometry.location.lat();
                            alert(latitudEvento);
                            longitudEvento = results[0].geometry.location.lng();
                            alert(longitudEvento);
                            sendCoordinates();

                            coordenadas = {
                                lat: latitudEvento,
                                lng: longitudEvento
                            };
                            mapa.setCenter(coordenadas);

                        } else {
                            alert("No ha funcionado correctamente el servicio de obtención de coordenadas: " + status);
                        }
                    });
                }
                var options = {
                    zoom: 12,
                    center: coordenadas
                };

                mapa = new google.maps.Map(document.getElementById('map'), options);

                var marcador = new google.maps.Marker({
                    position: coordenadas
                });

                marcador.setMap(mapa);
            }

            function sendCoordinates() {
                setCoordinates([{name: "latitud", value: latitudEvento},
                    {name: "longitud", value: longitudEvento}]);
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyB24D0Ngk_gd4aIEx9L4pcgmlAjYFCiTeg"
                type="text/javascript"
                async="async"
                defer="defer"
                onload="this.onload = showMap()"
                />
        <div id="map"></div>
        <br/>
        <h:form>
            <h:inputText id="direccionEvento" value="#{beanPruebas.direccionEvento}"/>             
            <h:commandButton id="submit" value="Ver en mapa" onclick="showMap()">
                <p:remoteCommand name="setCoordinates" actionListener="#{beanPruebas.setCoordenadasBD()}"/>
            </h:commandButton>
            <br/>
            <h:outputText value="#{beanPruebas.direccionEvento}"/>
            <br/>
            <h:outputText value="#{beanPruebas.latitud}"/>
            <br/>
            <h:outputText value="#{beanPruebas.longitud}"/>
            
        </h:form>
    </h:body>
</html>

