<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test Mapas</title>
        <style>
            #map {
                height: 400px;
                width: 50%;
            }
        </style>       
    </h:head>
    <h:body>
        <script>
            var coordenadas = {lat: 36.715219, lng: -4.477676};

            var latitud;
            var longitud;

            function showMap() {
                var options = {
                    zoom: 16,
                    center: coordenadas
                };
                mapa = new google.maps.Map(document.getElementById('map'), options);

                // Obtener posición actual
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {

                        latitud = position.coords.latitude;
                        longitud = position.coords.longitude;

                        saveCoordinates();

                        var pos = {
                            lat: latitud,
                            lng: longitud
                        };
                                                
                        console.log(pos);
                        mapa.setCenter(pos);

                        var marker = new google.maps.Marker({
                            position: pos
                        });
                        marker.setMap(mapa);
                    }, function () {
                        handleLocationError(true, infoWindow, mapa.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, mapa.getCenter());
                }
                // Fin obtener posición actual
            }

            function saveCoordinates() {
                setCoordenadasBD([{name: "latitud", value: latitud},
                    {name: "longitud", value: longitud}]);
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyB24D0Ngk_gd4aIEx9L4pcgmlAjYFCiTeg"
                type="text/javascript"
                async="async"
                defer="defer"
                onload="this.onload = showMap()"
                />
        <div id="map"></div>
        <br/>
        <h:form>
            Latitud: <h:outputText value="#{beanPruebas.latitud}"/>
            <br/>
            Longitud: <h:outputText value="#{beanPruebas.longitud}"/>
            <br/>
            <h:commandButton value="reload" action="#{beanPruebas.init()}"/>          
            <p:remoteCommand name="setCoordenadasBD" actionListener="#{beanPruebas.setCoordenadasBD()}"/>
        </h:form>
    </h:body>
</html>

