<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

    </h:head>
    <h:body>
        <h:form>
            <b:dataTable  page-length="5" page-length-menu="5,10,20" class="table" value="#{eventosNoValidadosBean.listaEventos}" var="evento">
                <h:column>
                    <f:facet name="header">Título</f:facet>
                        #{evento.titulo}
                </h:column>
                <h:column>
                    <f:facet name="header">Descripción</f:facet>
                        #{evento.descripcion}
                </h:column>
                <h:column>
                    <f:facet name="header">Precio</f:facet>
                        #{evento.precio}
                </h:column>
                <h:column>
                    <f:facet name="header">Dirección</f:facet>
                        #{evento.direccion}
                </h:column>
                <h:column>
                    <f:facet name="header">Fecha Inicio</f:facet>
                        #{evento.fechaInicio}
                </h:column>
                <h:column>
                    <f:facet name="header">Fecha Fin</f:facet>
                        #{evento.fechaFin}
                </h:column>
                <h:column>
                    <f:facet name="header"># </f:facet>
                    <b:commandButton class="btn" icon="glyphicon-ok" value="Aprobar" action="#{eventosNoValidadosBean.aprobarEvento(evento)}"/>
                </h:column>
                <h:column>
                    <f:facet name="header"># </f:facet>
                    <b:commandButton class="btn" icon="glyphicon-remove" value="Rechazar" action="#{eventosNoValidadosBean.rechazarEvento(evento)}"/>
                </h:column>
            </b:dataTable>
        </h:form>
        <h:form>
            <b:commandButton look="info" class="btn" value="Volver a agenda" action="#{agendaBean.volverAgendaInicio()}"/>
        </h:form>
    </h:body>
</html>

