<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<title>Ver Evento</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCby4jIW8ItkYOFcz2DbdN_4F1_ei17s8"></script>
	<script type="text/javascript">
		function volverInicio() {

			var jsfCommandLink = document.getElementById("botonInicio:link");
			jsfCommandLink.click();
		}
		function mostrarMapa() {
			var geocoder = new google.maps.Geocoder();
			var address = "#{verEventoBean.evento.direccion}";
			var mapa = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : 36.7183391,
					lng : -4.51930
				},
				zoom : 19
			});
			geocoder
					.geocode(
							{
								'address' : address
							},
							function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									mapa
											.setCenter(results[0].geometry.location);
									var marker = new google.maps.Marker({
										map : mapa,
										position : results[0].geometry.location
									});
									mapa.style.overflow = "auto";
								} else {
									alert('Geocode was not successful for the following reason: '
											+ status);
								}
							});
		}
		window.onload = mostrarMapa;
	</script>
</h:head>
<h:body>
	<h:form id="botonInicio">
		<h:commandLink id="link" style="display: none"
			action="#{verEventoBean.volverAgendaInicio()}" value="click" />
	</h:form>
	<b:container>
		<b:row>
			<b:column>
				<b:navBar brand="AppSur" onclick="volverInicio()">
					<b:navbarLinks pull="right" style="padding-right: 20px">
					</b:navbarLinks>
				</b:navBar>
			</b:column>
		</b:row>
		<b:row>
			<b:column span="3" style="padding-left: 50px">
				<h:form>
					<b:row>
						<h:column>
							<b:label severity="info" value="Titulo:" />
						</h:column>
						<br></br>
						<h:column>
							<h:outputText value="#{verEventoBean.evento.titulo}" />
						</h:column>
					</b:row>
					<b:row>
						<h:column>

							<b:label severity="info" value="Descripción:" />
						</h:column>
						<br></br>
						<h:column>
							<h:outputText value="#{verEventoBean.evento.descripcion}" />
						</h:column>
					</b:row>
					<b:row>
						<h:column>
							<b:label severity="info" value="Tags:" />
						</h:column>
						<br></br>
						<h:column>
							<h:dataTable value="#{verEventoBean.evento.tag}" var="tag">
								<h:column>
									<h:outputText value="#{tag}" />
								</h:column>
							</h:dataTable>
						</h:column>
					</b:row>
					<b:row>
						<h:column>
							<b:label severity="info" value="Precio:" />
						</h:column>
						<br></br>
						<h:column>
							<h:outputText value="#{verEventoBean.evento.precio}€" />
						</h:column>
					</b:row>
					<b:row>
						<h:column>
							<b:label severity="info" value="Fecha inicio:" />
						</h:column>
						<br></br>
						<h:column>

							<b:datepicker col-xs="6" disabled="true" mode="popup"
								value="#{verEventoBean.evento.fechaInicio}"></b:datepicker>
						</h:column>
					</b:row>
					<b:row>
						<h:column>
							<b:label severity="info" value="Fecha fin:" />
						</h:column>
						<br></br>
						<h:column>
							<b:datepicker col-xs="6" disabled="true" mode="popup"
								value="#{verEventoBean.evento.fechaFin}"></b:datepicker>
						</h:column>
					</b:row>
					<b:row>
						<h:column>
							<b:label severity="info" value="Dirección:" />
						</h:column>
						<br></br>
						<h:column>
							<h:outputText value="#{verEventoBean.evento.direccion}" />
						</h:column>
					</b:row>
					<b:row>
						<div>
							<h:form>
								<h:commandButton style="float: right" class="btn" value="Editar"
									action="editarEvento" rendered="#{verEventoBean.editable()}" />
							</h:form>
						</div>
					</b:row>
				</h:form>
			</b:column>
			<b:column span="3">
				<div id="map" style="width: 700px; height: 350px; border: solid;" />

			</b:column>

		</b:row>
		<ui:fragment rendered="#{verEventoBean.usuario!=null}">
			<div>
				<b:column span="4">
					<h:form>
						<b:commandButton style="float: right" value="Seguir"
							action="#{verEventoBean.doSeguir()}"
							rendered="#{!verEventoBean.sigo}" />
					</h:form>
					<h:form>
						<b:commandButton style="float: right" value="Dejar de seguir"
							action="#{verEventoBean.dejarSeguir()}"
							rendered="#{verEventoBean.sigo}" />
					</h:form>
					<h:form>
						<b:dataTable language="es" paginated="false" id="table"
							value="#{verEventoBean.listaSeguidores}" var="us" border="1">
							<h:column>
								<f:facet name="header">
									<h:outputLabel value="Seguidores" />
								</f:facet>
								<h:outputText value="#{us.nombre}" />
							</h:column>
						</b:dataTable>
					</h:form>
				</b:column>
			</div>
		</ui:fragment>
		<ui:fragment>
			<div>
				<b:column span="4">
					<h:form>
						<b:dataTable language="es" paginated="false" id="table"
							value="#{verEventoBean.listaComentarios}" var="com" border="1">
							<h:column>
								<f:facet name="header">
									<h:outputLabel value="Autor" />
								</f:facet>
								<h:outputText
									value="#{verEventoBean.nombreUsuarioComentario(com.usuario)}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputLabel value="Fecha" />
								</f:facet>
								<b:datepicker disabled="true" mode="popup" value="#{com.fecha}" />
								<!-- PONER FECHA Y VOTOS A FAVOR Y EN CONTRA -->
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputLabel value="Comentarios" />
								</f:facet>
								<h:outputText value="#{com.comentario}" />
							</h:column>
						</b:dataTable>
					</h:form>
					<h:form>
						<h:inputTextarea cols="60" rows="10"
							value="#{verEventoBean.comentario}" />
						<b:commandButton value="Comentar"
							action="#{verEventoBean.anadirComentario()}" />
					</h:form>
				</b:column>

			</div>
		</ui:fragment>
		<!-- incluir el txt guardado -->
		<div align="right">
			<h:form>
				<b:commandButton look="info" class="btn" value="Volver a agenda"
					action="agendaHome" />
			</h:form>
		</div>
	</b:container>
</h:body>
</html>

