<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Mi perfil</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCby4jIW8ItkYOFcz2DbdN_4F1_ei17s8"></script>
	<script type="text/javascript"></script>
	<script type="text/javascript">
		function volverInicio() {

			var jsfCommandLink = document.getElementById("botonInicio:link");
			jsfCommandLink.click();
		}
		function mostrarMapa() {
			var geocoder = new google.maps.Geocoder();
			var address = "#{agendaBean.usuario.direccion}";
			var mapa = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : 36.7183391,
					lng : -4.51930
				},
				zoom : 19
			});
			geocoder
					.geocode(
							{
								'address' : address
							},
							function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									mapa
											.setCenter(results[0].geometry.location);
									var marker = new google.maps.Marker({
										map : mapa,
										position : results[0].geometry.location
									});
									mapa.style.overflow = "auto";
								} else {
									alert('Geocode was not successful for the following reason: '
											+ status);
								}
							});
		}
		window.onload = mostrarMapa;
	</script>
</h:head>
<h:body>
	<h:form id="botonInicio">
		<h:commandLink id="link" style="display: none"
			action="#{agendaBean.volverAgendaInicio()}" value="click" />
	</h:form>
	<b:container>
		<b:row>
			<b:column>
				<b:navBar brand="AppSur" onclick="volverInicio()">
					<b:navbarLinks pull="right" style="padding-right: 20px">
					</b:navbarLinks>

				</b:navBar>

			</b:column>
		</b:row>
		<b:row>
			<b:column span="3" style="padding-left: 50px">
				<h:form>
					<b:row>
						<b:column>
							<b:label severity="info" value="Nombre:" />
						</b:column>
						<b:column>
							<b:inputText value="#{agendaBean.usuario.nombre}" readonly="true" />
						</b:column>
					</b:row>

					<b:row>
						<b:column>
							<b:label severity="info" value="Apellidos" />
						</b:column>
						<b:column>
							<b:inputText value="#{agendaBean.usuario.apellidos}"
								readonly="true" />
						</b:column>
					</b:row>

					<b:row>
						<b:column>
							<b:label severity="info" value="Tags(separados por ;):" />
						</b:column>
						<b:column>
							<b:inputText value="#{agendaBean.usuario.tag}" readonly="true" />
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:label severity="info" value="Dirección:" />
						</b:column>
						<b:column>
							<b:inputText value="#{agendaBean.usuario.direccion}"
								readonly="true" />
						</b:column>
					</b:row>
					<br />
					<b:commandButton value="Editar" action="editarUsuario" />
				</h:form>
			</b:column>
			<b:column span="3">
				<div id="map" style="width: 700px; height: 350px; border: solid;" />
			</b:column>
		</b:row>
		<br />
		<b:row>
			<h:form>
				<div align="justify">
					<b:selectOneMenu col-xs="3" value="#{agendaBean.filtro}"
						rendered="#{agendaBean.estaConectado()}">
						<f:selectItem itemValue="seguidos" itemLabel="Seguidos" />
						<f:selectItem itemValue="gustados" itemLabel="Favoritos" />
						<f:selectItem itemValue="creados" itemLabel="Creados por mi" />
						<f:selectItem itemValue="validados" itemLabel="Validados por mi"
							itemDisabled="#{!agendaBean.esPeriodista()}" />
					</b:selectOneMenu>
					<b:commandButton value="Filtrar"
						action="#{agendaBean.filtradoPerfil()}"
						rendered="#{agendaBean.estaConectado()}" />
				</div>
				<br />
				<b:dataTable language="es" id="table" page-length="5"
					page-length-menu="5,10,20" value="#{agendaBean.listaEventosPerfil}"
					var="evento" border="1">
					<b:column>
						<f:facet name="header">
							<h:outputLabel value="Titulo" />
						</f:facet>
						<h:commandLink value="#{evento.titulo}"
							action="#{agendaBean.irVerEvento()}">
							<f:setPropertyActionListener target="#{agendaBean.evento}"
								value="#{evento}" />
						</h:commandLink>
					</b:column>
					<b:column>
						<f:facet name="header">
							<h:outputLabel value="Precio" />
						</f:facet>
						<h:outputLabel value="#{evento.precio}€" />
					</b:column>
					<b:column>
						<f:facet name="header">
							<h:outputLabel value="Fecha de inicio" />
						</f:facet>
						<b:datepicker disabled="true" mode="popup"
							value="#{evento.fechaInicio}" />
					</b:column>
				</b:dataTable>
			</h:form>
		</b:row>
		<div align="right">
			<h:form>
				<b:commandButton look="info" class="btn" value="Volver a agenda"
					action="agendaHome" />
			</h:form>
		</div>
	</b:container>

</h:body>
<script>
	select.hideDisabled
	option[disabled]
	{
		display: none;
	}
</script>

</html>
