<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Mis notificaciones</title>
        <script type="text/javascript">
            function volverInicio() {

                var jsfCommandLink = document.getElementById("botonInicio:link");
                jsfCommandLink.click();

            }

        </script>
    </h:head>
    <h:body>

        <h:form id="botonInicio">
            <h:commandLink id="link" style= "display: none" action="#{agendaBean.volverAgendaInicio()}" 
                           value="click"/>
        </h:form>

        <b:container >

            <b:row ><b:column ><b:navBar  brand="AppSur"  onclick="volverInicio()" >
                        <b:navbarLinks pull="right" style= "padding-right: 20px" >
                        </b:navbarLinks>

                    </b:navBar>

                </b:column></b:row>
            <h:form>
                <b:dataTable page-length="5" page-length-menu="5,10,20" value="#{agendaBean.listaNotificaciones}" var="notificacion">
                    <b:column>
                        <f:facet name="header">Mensaje</f:facet>
                            #{notificacion.contenido}
                    </b:column>
                    <b:column>
                        <f:facet name="header">Fecha</f:facet>
                        #{notificacion.fechaEmision.day}/#{notificacion.fechaEmision.month}/#{notificacion.fechaEmision.year}
                    </b:column>
                </b:dataTable><br/>
                <h:commandButton value="Volver a perfil" action="#{agendaBean.volverAgendaInicio()}"/>
            </h:form>
        </b:container>
    </h:body>
</html>