<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Ver Usuario</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCby4jIW8ItkYOFcz2DbdN_4F1_ei17s8"></script>
	<script type="text/javascript">
		function mostrarMapa() {
			var geocoder = new google.maps.Geocoder();
			var address = "#{agendaBean.usuarioBuscado.direccion}";
			var mapa = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : 36.7183391,
					lng : -4.51930
				},
				zoom : 19
			});
			geocoder
					.geocode(
							{
								'address' : address
							},
							function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									mapa
											.setCenter(results[0].geometry.location);
									var marker = new google.maps.Marker({
										map : mapa,
										position : results[0].geometry.location
									});
									mapa.style.overflow = "auto";
								} else {
									alert('Geocode was not successful for the following reason: '
											+ status);
								}
							});
		}
		window.onload = mostrarMapa;
	</script>
</h:head>
<h:body>
	<h:form>
		<h:commandButton class="btn" value="Volver a agenda"
			action="agendaHome" />
	</h:form>
	<h:form>
		<h:outputLabel value="Nombre:" />
		<h:inputText value="#{agendaBean.usuarioBuscado.nombre}"
			readonly="true" />
		<br />
		<h:outputLabel value="Apellidos" />
		<h:inputText value="#{agendaBean.usuarioBuscado.apellidos}"
			readonly="true" />
		<br />
		<h:outputLabel value="Dirección:" />
		<h:inputText value="#{agendaBean.usuarioBuscado.direccion}"
			readonly="true" />
		<br />
		<h:outputLabel value="Tags(separados por ;):" />
		<h:inputText value="#{agendaBean.usuarioBuscado.tag}" readonly="true" />
		<br />
	</h:form>
	<div id="map" style="width: 700px; height: 350px" />
</h:body>
</html>